.btn-delete {
  background-color: var(--lightbgcolor);
  border: 1px solid var(--comment);
  border-radius: 0.375rem;
  color: var(--red);
}

.btn-delete:focus-visible,
.btn-delete:hover {
  background-color: var(--red);
  border: 1px solid var(--red);
  border-radius: 0.375rem;
  color: var(--lightbgcolor);
}
