{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:regexp/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended-type-checked",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/stylistic-type-checked",
    "plugin:jsx-a11y/recommended",
    "plugin:yml/standard",
    "plugin:vitest/legacy-recommended",
  ],
  "plugins": [
    "jest-dom",
    "prettier",
    "react",
    "react-hooks",
    "react-refresh",
    "regexp",
    "@typescript-eslint",
    "testing-library",
    "jsx-a11y",
    "vitest",
  ],
  "rules": {
    "eqeqeq": "error",
    "func-style": ["error", "declaration"],
    "no-console": "warn",
    "no-undef": "off",
    "no-unused-vars": "off",
    "no-constant-binary-expression": "error",
    "prettier/prettier": "error",
    "react/display-name": "off",
    "react/no-children-prop": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-key": ["error", { "warnOnDuplicates": true }],
    "react-refresh/only-export-components": "warn",
    "testing-library/prefer-user-event": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-unused-vars": "warn",
    "vitest/no-conditional-in-test": "error",
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "project": ["./tsconfig.json"],
    "tsconfigRootDir": ".",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    },
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true,
  },
  "ignorePatterns": ["node_modules", "build", "dist", "public"],
  "overrides": [
    {
      "extends": ["plugin:package-json/recommended"],
      "files": ["package.json"],
      "parser": "jsonc-eslint-parser",
      "plugins": ["package-json"],
      "rules": {
        "package-json/valid-package-def": "error",
      },
    },
  ],
  "settings": {
    "react": {
      "version": "detect",
    },
    "vitest": {
      "typecheck": true,
    },
  },
}
