{
  "branches": "main",
  "repositoryUrl": "https://github.com/rare-magma/guitos.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@anolilab/semantic-release-pnpm",
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
      }
    ]
  ]
}
