@media (prefers-color-scheme: dark) {
  * {
    --textcolor: #f8f8f2;
    --bgcolor: #282a36;
    --highlight: #50fa7b;
    --red: #ff5555;
    --orange: #ffb86c;
    --yellow: #f1fa8c;
    --purple: #bd93f9;
    --cyan: #8be9fd;
    --pink: #ff79c6;
    --selection: #44475a;
    --comment: #6272a4;
  }
}

@media (prefers-color-scheme: light) {
  * {
    --bgcolor: #f8f8f2;
    --textcolor: #282a36;
    --highlight: #008504;
    --red: #d82f39;
    --orange: #a0651b;
    --yellow: #6c7908;
    --purple: #855fbf;
    --cyan: #007e90;
    --pink: #c13f8e;
    --selection: #c5c8de;
    --comment: #7e8ec2;
  }
}

body {
  color: var(--textcolor);
  background: var(--bgcolor);
}

a {
  text-decoration: none;
  color: var(--selection);
}

a:hover {
  border-bottom: 1px solid;
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  filter: invert(58%) sepia(93%) saturate(2284%) hue-rotate(322deg)
    brightness(95%) contrast(112%);
}
.modal-header {
  border-bottom: 0px;
}

.accordion-flush,
.accordion-button,
.accordion-item,
.modal-item,
.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  border-radius: 0.375rem;
}

.card,
.dropdown,
.dropdown-item,
.dropdown-item:hover,
.dropdown-menu,
.navbar,
.offcanvas-body,
.offcanvas-header {
  color: var(--textcolor);
  background: var(--bgcolor);
}

.accordion,
.accordion-button,
.accordion-button:focus,
.accordion-item,
.accordion-item:focus {
  color: var(--textcolor);
  background: var(--bgcolor);
  border: 0px solid var(--comment);
  border-radius: 0.375rem;
}

.accordion-button:focus,
.accordion-item:focus {
  box-shadow: 0 0 0 0.2rem rgba(189, 147, 249, 0.25);
  border-radius: 0.375rem;
}

.form-control,
.form-control:focus,
.input-group-text,
.modal-content,
.modal-item,
input .input-group-text,
input.form-control,
input.text-right.form-control {
  color: var(--textcolor);
  background: var(--bgcolor);
  border: 1px solid var(--comment);
}

.input-group-text {
  background-color: var(--selection);
}

input.text-right.form-control {
  text-align: right;
}

.straight-corners {
  border-radius: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.btn-close,
.btn-currency,
.btn-outline-secondary,
.btn-text {
  background-color: var(--bgcolor);
  border: 1px solid var(--comment);
  border-radius: 0.375rem;
}

.btn-delete {
  color: var(--red);
  background-color: var(--bgcolor);
  border: 1px solid var(--comment);
  border-radius: 0.375rem;
}

.btn-delete:focus-visible,
.btn-delete:hover {
  color: var(--bgcolor);
  background-color: var(--red);
  border: 1px solid var(--red);
  border-radius: 0.375rem;
}

.btn-Expenses-plus-button {
  color: var(--purple);
  border: 1px solid var(--purple);
}
.btn-Expenses-plus-button:focus-visible,
.btn-Expenses-plus-button:hover {
  color: var(--bgcolor);
  background-color: var(--purple);
  border: 1px solid var(--purple);
}

.btn-Revenue-plus-button {
  color: var(--highlight);
  border: 1px solid var(--highlight);
}
.btn-Revenue-plus-button:focus-visible,
.btn-Revenue-plus-button:hover {
  color: var(--bgcolor);
  background-color: var(--highlight);
  border: 1px solid var(--highlight);
}

.btn-delete-modal,
.btn-outline-danger {
  color: var(--red);
  border: 1px solid var(--red);
  border-radius: 0.375rem;
}

.btn-delete-modal:focus-visible,
.btn-delete-modal:hover,
.btn-outline-danger:focus-visible,
.btn-outline-danger:hover {
  color: var(--bgcolor);
  background-color: var(--red);
  border: 1px solid var(--red);
  border-radius: 0.375rem;
}

.btn-outline-info {
  color: var(--cyan);
  border: 1px solid var(--cyan);
  border-radius: 0.375rem;
}
.btn-outline-info:hover,
.btn-outline-info:focus-visible {
  color: var(--bgcolor);
  background-color: var(--cyan);
  border: 1px solid var(--cyan);
  border-radius: 0.375rem;
}

.btn-outline-primary {
  color: var(--purple);
  border: 1px solid var(--purple);
  border-radius: 0.375rem;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus-visible {
  color: var(--bgcolor);
  background-color: var(--purple);
  border: 1px solid var(--purple);
  border-radius: 0.375rem;
}

.btn-outline-success {
  color: var(--highlight);
  border: 1px solid var(--highlight);
  border-radius: 0.375rem;
}
.btn-outline-success:hover,
.btn-outline-success:focus-visible {
  color: var(--bgcolor);
  background-color: var(--highlight);
  border: 1px solid var(--highlight);
  border-radius: 0.375rem;
}

.btn-text:hover {
  color: var(--textcolor);
  background-color: var(--bgcolor);
}

.btn-currency:hover {
  color: var(--textcolor);
  background-color: var(--highlight);
}

.Expenses-card {
  border: 1px solid var(--purple);
}

.Expenses-card-header {
  background-color: var(--selection);
  border-bottom: 1px solid var(--purple);
}

.Revenue-card {
  border: 1px solid var(--highlight);
}

.Revenue-card-header {
  background-color: var(--selection);
  border-bottom: 1px solid var(--highlight);
}

.stat-card {
  border: 1px solid var(--cyan);
}

.stat-card-header {
  background-color: var(--selection);
  border-bottom: 1px solid var(--cyan);
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>💸</text></svg>");
}

.version {
  font-size: 0.9em;
  color: var(--selection);
}
.version,
.code,
.textarea {
  font-family: ui-monospace, SF Mono, Menlo, Monaco, Andale Mono, monospace;
}

.pre,
.textarea {
  font-size: 0.9em;
  padding: 0.6em 0.9em;
  margin: 0.8em 0 1em 0;
  border-radius: 0;
  background: var(--selection);
  max-height: 35vh;
  overflow: auto;
}

.modal-90w {
  width: 90%;
  max-width: none !important;
}

.modal-body {
  max-height: 65vh;
  overflow: auto;
}

.input-group-sm > .form-control {
  font-size: 1rem;
}

.navbar-toggler {
  border: 1px solid var(--comment);
  border-radius: 0.375rem;
}

.fixed-width-font {
  font-family: ui-monospace, SF Mono, Menlo, Monaco, Andale Mono, monospace;
}

.dropdown-menu {
  min-width: inherit;
  overflow-x: hidden !important;
}

.auto-goal {
  border: 1px solid var(--comment);
  border-radius: 0.375rem;
}

.popover {
  color: var(--textcolor);
  background: var(--bgcolor);
  border: 1px solid var(--comment);
  border-radius: 0.375rem;
  width: auto;
}

.popover-header {
  color: var(--textcolor);
  background: var(--bgcolor);
  border: 0px solid var(--comment);
  border-bottom: 1px solid var(--comment);
}

.popover .popover-arrow::before,
.popover .popover-arrow::after {
  border-top-color: var(--comment);
}
