@media (prefers-color-scheme: dark) {
  * {
    --textcolor: #f8f8f2;
    --bgcolor: #282a36;
    --highlight: #50fa7b;
  }
}

body {
  color: var(--textcolor);
  background: var(--bgcolor);
}

.card,
.form-control,
.input-group-text,
.navbar,
.offcanvas-body,
.offcanvas-header {
  color: var(--textcolor);
  background: var(--bgcolor);
}

.bg-light {
  opacity: 0;
  color: var(--textcolor);
  background: var(--bgcolor);
  background-color: var(rgba(var(--bgcolor), 0));
}

input.text-right.form-control {
  color: var(--textcolor);
  background: var(--bgcolor);
  text-align: right;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.btn-text {
  color: #212529;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}

.btn-text:hover {
  color: #212529;
  background-color: #dc3545;
}

.btn-currency {
  color: #212529;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}

.btn-currency:hover {
  color: #212529;
  background-color: #50fa7b;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>💸</text></svg>");
}
